<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <hr />

    <% cars.forEach(function(car) { %>
    <p>
      ID: <%= car._id %> - Make: <%= car.make %> - Model: <%= car.model %> -
      Year: <%= car.year %>
    </p>
    <% }); %>
  </body>
</html>
