<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=car.make%> - <%=car.model%></title>

    <link rel="stylesheet" href="/car-list.css" />
  </head>
  <body>
    <%- include('./partials/nav') %>
    <hr />

    <div class="header">
      <span class="make"><h3>Make</h3></span>
      <span class="model"><h3>Model</h3></span>
      <span class="year"><h3>Year</h3></span>
    </div>

    <div class="car">
      <span class="make"><%= car.make %></span>
      <span class="model"><%= car.model %></span>
      <span class="year"><%= car.year %></span>

      <a href="/cars/<%=car._id%>/edit"><button class="btn">Edit</button></a>
      
      <form action="/cars/<%=car.id%>?_method=DELETE" method="POST">
        <button class="btn" type="submit">Delete</button>
      </form>
    </div>
  </body>
</html>
