<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Car Details</title>

    <link rel="stylesheet" href="/add-edit.css" />
  </head>
  <body>
    <%- include('./partials/nav') %>
    <hr />

    <form action="/cars/<%=car._id%>?_method=PUT" method="POST">
      <label for="make">Make</label>
      <input id="make" name="make" type="text" value="<%= car.make%>" />

      <label for="model">Model</label>
      <input id="model" name="model" type="text" value="<%= car.model%>" />

      <label for="year">Year</label>
      <input id="year" name="year" type="number" value="<%= car.year%>" />

      <button type="reset">Reset</button>
      <button type="submit">Edit</button>
      <a href="/cars/<%=car._id%>"><button type="button">Cancel</button></a>
    </form>
  </body>
</html>
